 <% if logged_in? %>

      <p>Hey, <%= current_user.username %>.</p>
     <a href="/movies/new">Add a favorite movie</a>
     <a href="/videos/new">Add a short film or reel!</a>

     <p><%= current_user.</p>


    <% else %>

      <h2>You should log in or sign up!</h2>
      <a href="/session/new">Login</a>
      <a href="/users/new">Sign Up</a>

  <% end %>
