<h1>Add a movie or reel</h1>
<div id="videos_new">
  <%= form_for(@video) do |f| %>
    <%= f.label(:this_should_be_a_youtube_link) %>
    <%= f.text_field(:url) %>
    <%= f.submit %>

    <% end %>
</div>
