<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lowbudget/nobudget</title>
  </head>
  <body>


    <a href="/users/new/">signup</a>
    <a href="/session/new">Login</a>
    <h1>Welcome to lowbudget/nobudget</h1>
    <h2>The place to meet fellow filmmakers and actors</h2>
    <a href="/users/">Search</a>

    <a href="/users/<%= current_user.id %>">Profile</a>
  </body>



</html>
